<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/myProfileCss.css">

    <title>My profile</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light myNav">
        <a href="/registeredUser" class="navbar-brand"><img src="/IMAGES/final logo.png" alt="Quizzard logo"
                class="brandImg"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/registeredUser" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/registeredUser/myProfile" class="nav-link" data-toggle="modal" data-target="#myModal">My
                        Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Log out</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div id="google_translate_element"></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="myContainer">
        <div class="container">
            <div class="row">
                <div class="offset-5">
                    <h5 class="animated zoomIn"><i class="material-icons userLogo" translate="no">account_circle</i>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 offset-3 animated bounceInRight myCol" style="animation-delay: 1s">
                    <i class="material-icons" translate="no">create</i>
                    <h5><a href="/registeredUser/editProfile">Edit profile</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 offset-3 animated bounceInRight myCol" style="animation-delay: 1.5s">
                    <i class="material-icons" translate="no">add</i>
                    <h5><a href="/registeredUser/createAQuiz">Create a new quiz</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 offset-3 animated bounceInRight myCol" onclick="hidePreview()"
                    style="animation-delay: 2s" data-toggle="collapse" data-target="#list">
                    <i class="material-icons" translate="no">unfold_more</i>
                    <h5><a>My quizes</a></h5>
                </div>
            </div>
            <div id="list" class="panel-collapse collapse">
                <ul class="list-group myList">
                    {{#each quizzes }}
                    <li class="list-group-item myListItem" onmouseover="showPreview({{this.IDQuiz}})">
                        <div>
                            {{this.name}}
                        </div>
                        <div class="btn-group myBtnGroup" role="group" aria-label="Basic mixed styles example"
                            style="float: right">
                            <a href="/game/joiningScreen?ID={{this.IDQuiz}}">
                                <button type="button" class="btn btn-primary">Play</button>
                            </a>
                            <a href="/registeredUser/createAQuiz?name={{this.IDQuiz}}">
                                <button type="button" class="btn btn-info">Update</button>
                            </a>
                            <a href="/registeredUser/myProfile/deleteQuiz?id={{this.IDQuiz}}"><button type="button"
                                    class="btn btn-danger" style="background: #c04595;">Delete</button></a>
                        </div>
                    </li>
                    {{!-- <div class="quiz">
                        [
                        name: {{this.name}},
                        questions: [
                        {{#each this.questions}}
                        {
                        text: {{this.text}},
                        answers: [
                        {{#each this.answers}}
                        {
                        text: {{this.text}}
                        },
                        {{/each}}
                        ]
                        },
                        {{/each}}
                        ]
                        ]
                    </div> --}}
                    <ul style="display: none;" id="{{this.IDQuiz}}" class="{{this.name}}">
                        {{#each this.questions}}
                        <ul class="{{this.text}}">
                            {{#each this.answers}}
                            <li>{{this.text}}</li>
                            {{/each}}
                        </ul>
                        {{/each}}
                    </ul>
                    {{/each}}
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12 offset-3 animated bounceInRight myCol logout" style="animation-delay: 2.5s">
                    <i class="material-icons" translate="no">add</i>
                    <h5><a href="/logout">Log out</a></h5>
                </div>
            </div>
        </div>

        <div class="preview">
        </div>

    </div>
    <script src="/JS/languageChange.js"></script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
    <script src="/JS/myProfile.js"></script>

</body>

</html>