<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/quiz.css">
    <title>Quizzard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="logo-container">
        <img class="logo-image" src="/IMAGES/final logo.png" alt="Quizzard Logo">
    </div>

    <div class="timer">
        <p class="time merienda-font ">15</p>
    </div>
    <div class="question-container ">
        <div class="timer" id="countdown">00</div>
        <div id="questionForm" action="/game/as">
            <div id="answer-buttons" class="btn-grid">
                <h1 style="display: none;" id="maxTime">{{maxTime}}</h1>
                {{#each answers }}
                <button class="btn" onclick="submit( {{this.idAnswer}}, {{this.points}}, {{this.player}})"
                    id="btn{{this.anum}}" name="answer" value="{{this.anum}}"><img src="/IMAGES/{{this.anum}}.png"
                        alt="#"></button>
                {{/each}}
            </div>
        </div>
    </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
        integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/JS/qs.js"></script>
    <script src="../JS/timer.js"></script>

</body>

</html>