<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/ScoreBoard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <title>Quizzard</title>
</head>

<body class="pozadina">

    <div class="logo-container">
        <img class="logo-image" src="/IMAGES/final logo.png" alt="Quizzard Logo">
    </div>

    <h1 id="title">Leaderboard</h1>

    <div class="container">

        <ol>
            <li>{{first.nickname}}: {{first.points}}</li>

            <li>{{second.nickname}}: {{second.points}}</li>

            <li>{{third.nickname}}: {{third.points}}</li>
        </ol>

    </div>
    <button onclick="nextQuestion()" type="button">Next question</button>

    <div class="correctOrWrong">
        <img src="/IMAGES/tocno.png" alt="correctOrWrong">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
        integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/JS/ScoreBoard.js"></script>
</body>

</html>